<div class="row mb-4">
  <div class="col">
    <h2>All Orders</h2>
  </div>
</div>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th>Order ID</th>
      <th>Ordered By</th>
      <th>Ordered Date</th>
      <th>Ordered Amount</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.email %></td>
        <td><%= order.created_at.to_date %></td>
        <td><%= order.total %></td>
        <td><%= link_to 'Show', admin_order_path(order), class: 'btn btn-primary'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
