<div class="container-md mx-auto">
  <div class="row mb-4">
    <div class="col">
      <h2>Items from order #<%= @order.id%></h2>
    </div>
    <div class="col">
      <%= link_to "Back to orders", admin_orders_path, class: "btn btn-secondary fw-medium" %>
    </div>
  </div>
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-success mb-5 text-white font-medium rounded-lg" id="notice"><%= notice %></p>
    <% end %>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @order.cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.product.name %></td>
            <td><%= cart_item.quantity %></td>
            <td><%= cart_item.product.price %></td>
            <td><%= cart_item.total_of_single_item %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="table-dark">
          <td colspan="3" class="text-end">Grand Total:</td>
          <td><%= @order.total %></td>
        </tr>
      </tfoot>
    </table>
    <div class="card">
      <div class="card-header">
        Shipping Information
      </div>
      <div class="card-body">
        <p class="card-text">
          <strong>Email:</strong> <%= @order.user.email %>
        </p>
        <p class="card-text">
          <strong>Address:</strong> <%= @order.order_address.city %>
        </p>
        <p class="card-text">
          <strong>State:</strong> <%= @order.order_address.state %>
        </p>
      </div>
    </div>
  </div>
</div>
