<div class="container-md mx-auto">
  <div class="row mb-4">
    <div class="col">
      <h2>Items from order #<%= @order.id%></h2>
    </div>
    <div class="col">
      <%= link_to "Back to orders", admin_orders_path, class: "btn btn-secondary fw-medium" %>
    </div>
  </div>
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-success mb-5 text-white font-medium rounded-lg" id="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="py-2 px-3 bg-danger mb-5 text-white font-medium rounded-lg" id="notice"><%= alert %></p>
    <% end %>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Item</th>
          <th>Ordered Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>In Stock</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_products.each do |order_product| %>
          <tr>
            <td><%= order_product.product.name %></td>
            <td><%= order_product.quantity %></td>
            <td><%= order_product.product.price %></td>
            <td><%= order_product.total_of_single_item %></td>
            <td><%= order_product.product.stock.quantity %></td>
          </tr>
          <!-- Additional row for Grand Total -->
          <% if @order.order_products.last == order_product %>
            <tr class="table-secondary">
              <td colspan="3" class="text-end">Grand Total:</td>
              <td><%= @order.total %></td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% if current_user && !@order.fulfilled %>
      <%= link_to 'Mark as Fulfilled', mark_fulfilled_admin_order_path(@order), data: {turbo_method: :patch}, class: 'btn btn-success mb-3' %>
    <% end %>
    <% if current_user && @order.fulfilled %>
      <%= link_to 'Mark as Unfulfilled', mark_unfulfilled_admin_order_path(@order), data: { turbo_method: :patch }, class: 'btn btn-warning mb-3' %>
    <% end %>
    <div class="card">
      <div class="card-header">
        Shipping Information
      </div>
      <div class="card-body">
        <p class="card-text">
          <strong>Email:</strong> <%= @order.user.email %>
        </p>
        <p class="card-text">
          <strong>Contact:</strong> <%= @order.user.contact %>
        </p>
        <p class="card-text">
          <strong>Address:</strong> <%= @order.order_address.city %>
        </p>
        <p class="card-text">
          <strong>State:</strong> <%= @order.order_address.state %>
        </p>
      </div>
    </div>
  </div>
</div>
