<div class="container mt-8">
  <h2 class="h2 text-gray-800 mb-4">Daily Stats</h2>
  <div class="row gap-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-2">Revenue</h5>
          <p class="card-text">
            <%= @quick_stats[:revenue] ? (@quick_stats[:revenue]).to_s : "0" %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-2">Total Sales</h5>
          <p class="card-text">
            <%= @quick_stats[:sales] ? (@quick_stats[:sales]).to_s : "0" %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-2">Average Sale</h5>
          <p class="card-text">
            <%= @quick_stats[:avg_sale] ? (@quick_stats[:avg_sale]).to_s : "0" %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-2">Total Products Sold</h5>
          <p class="card-text">
            <%= @quick_stats[:total_products_sold] ? (@quick_stats[:total_products_sold]).to_s : "0" %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div data-controller="dashboard">
    <canvas id="revenueChart">
    </canvas>
  </div>
  <div class="container mt-8">
    <h2 class="text-2xl text-gray-800 mb-4 font-medium">Recent Unfulfilled Orders</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= link_to order.id, admin_order_path(order), class: "text-decoration-none" %></td>
              <td><%= order.user.email %></td>
              <td><%= order.created_at.strftime("%B %d, %Y %H:%M") %></td>
              <td><%= order.total %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
