<div class="row">
  <div class="col-lg-3 mb-4">
    <div>
      <h3>Price Filter</h3>
      <%= form_with url: products_path, method: :get do |f|%>
        <div class="mb-3">
          <%= f.label :min_price, "Minimum Price" %>
          <%= f.number_field :min_price, class: "form-control", placeholder: "Enter minimum price" %>
        </div>
        <div class="mb-3">
          <%= f.label :max_price, "Maximum Price" %>
          <%= f.number_field :max_price, class: "form-control", placeholder: "Enter maximum price" %>
        </div>
        <div class="d-flex">
          <%= f.submit "Filter", class: "btn btn-primary me-2" %>
          <% if params[:min_price].present? || params[:max_price].present? %>
            <%= link_to "Clear Price Filter", products_path, class: "btn btn-outline-secondary" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-9">
    <p class="text-success"><%= notice %></p>
    <h1>Products</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <%= render partial: 'product', locals: { products: @products } %>
    </div>
  </div>
</div>
