<p class="text-success"><%= notice %></p>
<h1>Products</h1>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 gap-4">
  <% @products.each do |product| %>
    <div class="col mb-5">
      <div class="card h-100">
        <%= link_to product_path(product) do %>
          <div class="position-relative">
            <% if product.images.present? %>
              <%= image_tag product.images[0], class: "card-img-top" %>
            <% end %>
          </div>
        <% end %>
        <div class="card-body">
          <h3 class="card-title"><%= product.name %></h3>
          <div class="mb-5">
            <p class="card-text fw-semibold fs-5 text-danger">&#8360; <%= product.price %></p>
            <p class="card-text text-sm"><%= product.description.truncate(80) %></p>
          </div>
          <a href="#" class="btn btn-primary w-100">Buy Now</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
